@font-face {
    font-family: 'robotoregular';
    src: url('Roboto-Regular-webfont.eot');
    src: url('Roboto-Regular-webfont.eot?#iefix') format('embedded-opentype'),
    url('Roboto-Regular-webfont.woff') format('woff'),
    url('Roboto-Regular-webfont.ttf') format('truetype'),
    url('Roboto-Regular-webfont.svg#robotoregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'asapregular';
    src: url('asap-regular-webfont.woff2') format('woff2'),
    url('asap-regular-webfont.woff') format('woff'),
    url('asap-regular-webfont.ttf') format('truetype'),
    url('asap-regular-webfont.svg#asapregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'asapbold';
    src: url('asap-bold-webfont.woff2') format('woff2'),
    url('asap-bold-webfont.woff') format('woff'),
    url('asap-bold-webfont.ttf') format('truetype'),
    url('asap-bold-webfont.svg#asapbold') format('svg');
    font-weight: normal;
    font-style: normal;
}

body {
    font-size: 16px;
    margin: 1em auto;
    width: 20em;
    height: 30em;
    background-color: #656363;
}

svg {
    position: absolute;
}

#watchcase {
    width: 20em;
    height: 20em;
}

#watchbuttons {
    width: 20em;
    height: 10em;
    top: 21em;
}

.button, .buttonTxt {
    cursor: pointer;
}

.positionTxt {
    font-size: 0.008em;
}

